<div class='col-2'>
  <% @products.each do |product| %>
    <div class="form-group row">
      <label class="col-4 text-right">商品画像</label>
      <%= f.file_field :image, class: "col-4 form-control-file pl-0", accept: "image/*" %>
    </div>
    <div class="form-group row">
      <label class="col-4 text-right">商品名</label>
      <%= f.text_field :name, class: "col-4 form-control name", placeholder: "商品名" %>
    </div>
  <% end %>
</div>