<div class='container px-5 px-sm-0'>
  <div class='row justify-content-evenly'>
    <div class='col-xl-3'>
      <p>ジャンル検索部分テンプレート</p>
    </div>
    <div class='col-xl-8 offset-xl-1'>
      <h2>商品一覧</h2>
    </div>
  </div>
</div>


