<div class="container mb-5 mt-2 d-flex justify-content-center col-12">
  <div class="col-lg-7 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
    <div class="row">
      <p class="h1 col-12 text-center">About</p>
    </div>

    <div class="row mb-4">
      <p class="h5 mt-5 text-center col-12 ">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので<br>
        「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>

    <div class="row d-flex justify-content-center">
    <%= image_tag 'cake.jpg', size: "600x250", class: "my-3 col-9 shadow" %>
    </div>
  </div>
</div>