<div class="container my-5">
  <div class="row mx-auto justify-content-center">
    <h1 class="display-1"><strong>About</strong></h1>
    <p class="h3 mt-5 text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
    <%= image_tag 'no_image', size: "600x250", class: "my-3" %> <!--cake.jpgに変更-->
  </div>
</div>