<div class="container my-5">
  <div class="row">
    <div class="col">
      <h4 class="mb-5"><span class="bg-light bg-gradient">ジャンル編集</span></h4>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), local:true do |f| %>
        <div class="form-group row">
          <h5 class="col-2">ジャンル名</h5>
          <p class="col-3"><%= f.text_field :name %></p>
          <p class="col-2"><%= f.submit '変更を保存', class: "btn btn-success btn-lg" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>