/*フッター固定*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}
/*フッター固定*/


/*ページネーションデザイン修正*/
.pagination>li>a {
  border: none;
}

.pagination>.active>a {
    background-color: #c45500 !important;
    border-color: #c45500 !important;
  }
/*ページネーションデザイン修正*/

/*homestopの背景画像*/
.cakeimg1 {
  height: 300px;
  width: 80%;
  background-image:url(../../assets/images/background.png);
  background-size: 100%100%;
}

/*注文完了画面*/
#thanks {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*注文完了画面*/

.next_button{
    color: #3a3a3a;
    background-color: #fff;
    padding: 6px 12px;
    border: 1px solid #1e1e1e;
    border-radius: 18px;
    font-size: 16px;
}