<div class="container my-5">
  <div class="row">
    <div class="col">
        <h3><span class="bg-light bg-gradient">商品一覧</span></h3>
        <%= link_to "+", new_admin_product_path, class: "h3 btn btn"
    </div>
  </div>
</div>