<!--<div style="vertical-align: middle" class="d-flex align-items-center justify-content-center m-auto">-->
<!--  <div class="row">-->
<!--      <span class="h3 col-12">ご注文ありがとうございました！</span>-->
<!--  </div>-->
<!--</div>-->

<!--<h3 style="height: 50%" class="d-flex align-items-center justify-content-center">ご注文ありがとうございました！</h3>-->

<div>
  <h3 id="thanks" >ご注文ありがとうございました！</h3>
</div>