<footer class="text-center bg-dark text-white pt-4 pb-5">
   <div class="container mt-4">
     <div class="mx-auto">
       <%= image_tag 'footer-img.png', size: '50x50', class:"mb-3" %>
       <p>© 2023 Stellar</p>
     </div>
   </div>
</footer>