<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <div class="input-group">
      <%= f.text_field :word, class: "form-control", placeholder: "Search..." %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>